*{
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

[class="border_grey"], [class="border_black"]{
    font-size : 14px;
    line-height: 1.5;
    font-family: sans-serif;
    text-transform: none;
    text-decoration: none;
    color : rgb(0, 0, 0);
}

span{
    font-size: 10px;
    line-height: 1.5;
    font-family: sans-serif;
    text-transform: none;
    text-decoration: none;
    color:rgb(116, 116, 116)
}


.border_grey{
    background: rgb(148, 148, 148);
    border-style: groove;
    border-width: 2px;
    border-color: black;
   
}

.border_grey:active{  
    background: rgb(255, 255, 255);
    border-style: groove;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}


.border_black{
    background: rgb(48, 48, 48);
    border-style: groove;
    border-width: 2px;
    border-color: black;
    
}

.border_black:active{
    background: rgb(255, 255, 255);
    border-style: groove;
    border-width: 2px;
    border-color: rgb(255, 255, 255);

}

